## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
x=pow(7,4)
print(x)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [6]:
s="Hi there Sam!"

In [7]:
x=s.split()
print(x)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [26]:
txt3 = ("The diameter of {planet} is {diameter} kilometers.").format(planet = "Earth", diameter = 12742)

In [27]:
print(txt3)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [14]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [19]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [21]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [28]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [29]:
#tuple is immutable while list is mutable
#Lists consume more memory while tuple consumes less memory
#Duplicates are allowed in list not in tuple
#List can be represented as [],tuples can be represented as ()

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [32]:
def splitt(input):
  return input.split('@')[1]

In [33]:
splitt("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [38]:
def check(input):
   return 'dog' in input.lower().split()

In [41]:
check('I am going to adapt this street dog')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [45]:
message = 'dog  is my favourite pet and i love dog so much my dog name is  little programming language'

In [46]:
print('Number of occurrence of dog:', message.count('dog'))

Number of occurrence of dog: 3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [48]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [49]:
caught_speeding(90,False)

'Big Ticket'

In [50]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [54]:
employee=[12000,13456,25577,24565,34578]
tot=0
print("Employee list:")
for i in employee:
  print(i)
  tot=tot+i
print('total salary expenditure:')
print(tot)

Employee list:
12000
13456
25577
24565
34578
total salary expenditure:
110176

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [67]:
def Merge(First, Second):
    return(First.update(Second))
    
First={'Empid':26, 'Empname':'Jamuna', 'Basicpay':'14 lpa'}
Second={'DeptName':'IT','DeptId':56}
Merge(First,Second)
print(First)

{'Empid': 26, 'Empname': 'Jamuna', 'Basicpay': '14 lpa', 'DeptName': 'IT', 'DeptId': 56}